<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Probando Angular</title>
	<!--styles -->
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<h2>Todo</h2>
	<div ng-controller="TodoCtrl">
		<span>{{remaining()}} of {{todos.length}} remaining</span>
		[ <a href="" ng-click="archive()">archive</a> ]
		<ul class="unstyled">
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
		<form ng-submit="addTodo()">
			<input type="text" ng-model="todoText"  size="30"
			placeholder="add new todo here">
			<input class="btn-primary" type="submit" value="add">
		</form>

		<!-- AngularJs -->
		<script src="lib/angular.min.js"></script>
		<script src="js/app.js"></script>
	</body>
	</html>