<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Probando Angular</title>
	<!--styles -->
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	
	<div class="controlador" ng-controller="homeControler">
		<p>{{id}}</p>
		<p>Total number of movies: {{movies.length}}</p>
		<img src="{{xhrData.Poster}}" alt="">
		<input type="text" name="id_movie" id="id_movie" ng-model="id" ng-change="ng_change_id()">
		<input type="text" name="title_movie" id="title_movie" ng-model="title" ng-change="ng_change_title()">

		<ul>
	        <li ng-repeat="movie in movies">
	        	<a href="{{movie.imdb_url}}" target="_new">
	        		<img src="{{movie.poster.cover}}" alt="{{movie.title}}" width="64">
	        	</a>
	        	<div class="info">{{movie.plot}}</div>
	        	<div class="info">------------{{movie.title}}</div>
	        </li>
	    </ul>

	    <ul>
	        <li>
	        	<a href="{{movieid.imdb_url}}" target="_new">
	        		<img src="{{movieid.poster.cover}}" alt="{{movieid.title}}" width="64">
	        	</a>
	        	<div class="info">{{movieid.plot}}</div>
	        	<div class="info">------------{{movieid.title}}</div>
	        </li>
	    </ul>


	</div>

	<!-- AngularJs -->
	<script src="src/lib/angular.min.js"></script>
	<script src="src/app.js"></script>
	<script src="src/controllers/controllers.js"></script>
	<script src="src/services/services.js"></script>
</body>
</html>